Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data. 
This task will be done in following steps: 
1. First get the webpage https://www.shine.com/ 
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the  location” field. 
3. Then click the search button. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data. 
Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get("https://www.shine.com/")#First get the webpage https://www.shine.com/

In [4]:
job_title = driver.find_element(By.XPATH,'//input[@name="id_q"]')#Enter “Data Analyst” in “Job title, Skills” field

In [5]:
job_title.send_keys('Data Analyst')

In [6]:
location = driver.find_element(By.XPATH,'//input[@name="id_loc"]')#enter “Bangalore” in “enter the  location” field

In [7]:
location.send_keys('Bangalore')

In [10]:
search = driver.find_element(By.XPATH,'//div[@class="searchForm_btnWrap_advance__VYBHN"]/button[1]')#Then click the search button. 
search.click()

In [ ]:
#Then scrape the data for the first 10 jobs results you get.

In [11]:
job_title = []
title=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')

for i in title[0:10]:
    job_title.append(i.text)
job_title

['Lead Data Analyst',
 'Data Analyst',
 'Vacancy For Data Analyst',
 'Clinical Data Analyst',
 'Data Modeler data',
 'Full time Opportunity-Networking Advisor-Cisco Nexus -D ...',
 'Data Modeller',
 'Data Modeler Bangalore',
 'Data Modeler',
 'Clinical Data Analyst']

In [12]:
company_name = []
name=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')

for i in name[0:10]:
    company_name.append(i.text)
company_name

['ara resources private limited',
 'diraa hr services hiring for mncs',
 'yogita staffing solution',
 'techno endura',
 'boyen haddin consulting and technol...',
 'ntt data information processing ser...',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'quiscon biotech']

In [16]:
job_location = []
location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    job_location.append(i.text)
job_location

['Bangalore',
 'Bangalore\n+3',
 'Bangalore\n+14',
 'Bangalore\n+6',
 'Bangalore',
 'Bangalore\n+5',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+4']

In [17]:
experience_required = []
experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    experience_required.append(i.text)
experience_required

['4 to 9 Yrs',
 '0 to 1 Yr',
 '0 to 3 Yrs',
 '0 to 1 Yr',
 '3 to 6 Yrs',
 '10 to 20 Yrs',
 '3 to 6 Yrs',
 '3 to 6 Yrs',
 '3 to 6 Yrs',
 '0 to 2 Yrs']

In [47]:
df = pd.DataFrame({'JOB_TITLE':job_title,'COMPANY_NAME':company_name,'JOB_LOCATION':job_location,'EXPERIENCE_REQUIRED':experience_required})
df# Finally create a dataframe of the scraped data.

,JOB_TITLE,COMPANY_NAME,JOB_LOCATION,EXPERIENCE_REQUIRED
0,Lead Data Analyst,ara resources private limited,Bangalore,4 to 9 Yrs
1,Data Analyst,diraa hr services hiring for mncs,Bangalore\n+3,0 to 1 Yr
2,Vacancy For Data Analyst,yogita staffing solution,Bangalore\n+14,0 to 3 Yrs
3,Clinical Data Analyst,techno endura,Bangalore\n+6,0 to 1 Yr
4,Data Modeler data,boyen haddin consulting and technol...,Bangalore,3 to 6 Yrs
5,Full time Opportunity-Networking Advisor-Cisco...,ntt data information processing ser...,Bangalore\n+5,10 to 20 Yrs
6,Data Modeller,boyen haddin consulting and technol...,Bangalore,3 to 6 Yrs
7,Data Modeler Bangalore,boyen haddin consulting and technol...,Bangalore,3 to 6 Yrs
8,Data Modeler,boyen haddin consulting and technol...,Bangalore,3 to 6 Yrs
9,Clinical Data Analyst,quiscon biotech,Bangalore\n+4,0 to 2 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. 
This task will be done in following steps: 
1. First get the webpage https://www.shine.com/ 
2.  Enter “Data Scientist” in “Job title, Skills”  field and enter “Bangalore” in “enter the location” field. 
3. Then click the search  button. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data. 
Note: All of the above steps have to be done in code. No step is to be done manually.

In [26]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By

In [27]:
driver = webdriver.Chrome()

In [28]:
driver.get("https://www.shine.com/")#First get the webpage https://www.shine.com/

In [30]:
job_title = driver.find_element(By.XPATH,'//input[@name="id_q"]')#Enter “Data Analyst” in “Job title, Skills” field

In [31]:
job_title.send_keys('Data Analyst')

In [32]:
location = driver.find_element(By.XPATH,'//input[@name="id_loc"]')#enter “Bangalore” in “enter the  location” field

In [33]:
location.send_keys('Bangalore')

In [38]:
search = driver.find_element(By.XPATH,'//div[@class="searchForm_btnWrap_advance__VYBHN"]/button[1]')#Then click the search button.

In [39]:
search.click()

In [40]:
#Then scrape the data for the first 10 jobs results you get. 
job_title = []
title=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')

for i in title[0:10]:
    job_title.append(i.text)
job_title

['Lead Data Analyst',
 'Data Analyst',
 'Vacancy For Data Analyst',
 'Clinical Data Analyst',
 'Data Modeler data',
 'Full time Opportunity-Networking Advisor-Cisco Nexus -D ...',
 'Data Modeller',
 'Data Modeler Bangalore',
 'Data Modeler',
 'Clinical Data Analyst']

In [41]:
company_name = []
name=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')

for i in name[0:10]:
    company_name.append(i.text)
company_name

['ara resources private limited',
 'diraa hr services hiring for mncs',
 'yogita staffing solution',
 'techno endura',
 'boyen haddin consulting and technol...',
 'ntt data information processing ser...',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'quiscon biotech']

In [42]:
job_location = []
location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    job_location.append(i.text)
job_location

['Bangalore',
 'Bangalore\n+3',
 'Bangalore\n+14',
 'Bangalore\n+6',
 'Bangalore',
 'Bangalore\n+5',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+4']

In [46]:
df = pd.DataFrame({'JOB_TITLE':job_title,'COMPANY_NAME':company_name,'JOB_LOCATION':job_location})
df# Finally create a dataframe of the scraped data.

,JOB_TITLE,COMPANY_NAME,JOB_LOCATION
0,Lead Data Analyst,ara resources private limited,Bangalore
1,Data Analyst,diraa hr services hiring for mncs,Bangalore\n+3
2,Vacancy For Data Analyst,yogita staffing solution,Bangalore\n+14
3,Clinical Data Analyst,techno endura,Bangalore\n+6
4,Data Modeler data,boyen haddin consulting and technol...,Bangalore
5,Full time Opportunity-Networking Advisor-Cisco...,ntt data information processing ser...,Bangalore\n+5
6,Data Modeller,boyen haddin consulting and technol...,Bangalore
7,Data Modeler Bangalore,boyen haddin consulting and technol...,Bangalore
8,Data Modeler,boyen haddin consulting and technol...,Bangalore
9,Clinical Data Analyst,quiscon biotech,Bangalore\n+4

Q3: In this question you have to scrape data using the filters available on the webpage  

You have to use the location and salary filter. 
You have to scrape data for “Data Scientist” designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs 
The task will be done as shown in the below steps: 
1. first get the web page https://www.shine.com/ 
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field. 
3. Then click the search button. 
4. Then apply the location filter and salary filter by checking the respective boxes 
5. Then scrape the data for the first 10 jobs results you get. 
6. Finally create a dataframe of the scraped data.

In [48]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By

In [49]:
driver = webdriver.Chrome()

In [50]:
driver.get("https://www.shine.com/")#first get the web page https://www.shine.com/

In [51]:
job_title = driver.find_element(By.XPATH,'//input[@name="id_q"]')#Enter “Data Scientist” in “Skill, Designations, and Companies” field.

In [52]:
job_title.send_keys('Data Scientist')

In [57]:
search = driver.find_element(By.XPATH,'//div[@class="searchForm_btnWrap_advance__VYBHN"]/button[1]')#Then click the search button. 
#Then click the search button.

In [58]:
search.click()

In [65]:
location_filter = driver.find_element(By.XPATH,'//input[@class="form-control"]')#Then apply the location filter and salary filter by checking the respective boxes

In [66]:
location_filter.send_keys('Delhi')

In [67]:
check = driver.find_element(By.XPATH,'//li[@class="filter_filter_option_item__bvdpQ"]/span/input')

In [68]:
check.send_keys('Delhi')

In [69]:
show_result = driver.find_element(By.XPATH,'//button[@class="btn btn-secondary"]')

In [70]:
show_result.click()

In [71]:
salary_filter = driver.find_element(By.XPATH,'//li[@class="filter_filter_option_item__bvdpQ"]/span/input')

In [72]:
salary_filter.send_keys('3 To 5 Lakh')

In [73]:
result = driver.find_element(By.XPATH,'//button[@class="btn btn-secondary"]')

In [74]:
result.click()

In [ ]:
#Then scrape the data for the first 10 jobs results you get.

In [75]:
job_title = []
title=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')

for i in title[0:10]:
    job_title.append(i.text)
job_title

['Data Scientist',
 'Hiring candidates for Marketing with Fare & Data Analys ...',
 'Hiring for Fare & Data Analyst-Travel process',
 'Clinical Data Analyst',
 'Bioanalytical Research',
 'Clinical Data Management',
 'Bioanalytical Research Associates',
 'Junior Clinical Data Management',
 'Clinical Analyst Fresher',
 'Data Engineer']

In [76]:
company_name = []
name=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')

for i in name[0:10]:
    company_name.append(i.text)
company_name

['acme services private limited',
 'sharda it services',
 'sharda it services',
 'techno endura',
 'techno endura',
 'techno endura',
 'techno endura',
 'techno endura',
 'techno endura',
 'future solution centre']

In [77]:
job_location = []
location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    job_location.append(i.text)
job_location

['Delhi\n+4',
 'Delhi\n+2',
 'Delhi\n+2',
 'Delhi\n+6',
 'Delhi\n+6',
 'Delhi\n+6',
 'Delhi\n+6',
 'Delhi\n+6',
 'Delhi\n+6',
 'Delhi\n+9']

In [78]:
experience_required = []
experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    experience_required.append(i.text)
experience_required

['3 to 5 Yrs',
 '2 to 5 Yrs',
 '1 to 6 Yrs',
 '0 to 1 Yr',
 '0 to 1 Yr',
 '0 to 1 Yr',
 '0 to 1 Yr',
 '0 to 1 Yr',
 '0 to 1 Yr',
 '10 to 20 Yrs']

In [79]:
df = pd.DataFrame({'JOB_TITLE':job_title,'COMPANY_NAME':company_name,'JOB_LOCATION':job_location,'EXPERIENCE_REQUIRED':experience_required})
df# Finally create a dataframe of the scraped data.

,JOB_TITLE,COMPANY_NAME,JOB_LOCATION,EXPERIENCE_REQUIRED
0,Data Scientist,acme services private limited,Delhi\n+4,3 to 5 Yrs
1,Hiring candidates for Marketing with Fare & Da...,sharda it services,Delhi\n+2,2 to 5 Yrs
2,Hiring for Fare & Data Analyst-Travel process,sharda it services,Delhi\n+2,1 to 6 Yrs
3,Clinical Data Analyst,techno endura,Delhi\n+6,0 to 1 Yr
4,Bioanalytical Research,techno endura,Delhi\n+6,0 to 1 Yr
5,Clinical Data Management,techno endura,Delhi\n+6,0 to 1 Yr
6,Bioanalytical Research Associates,techno endura,Delhi\n+6,0 to 1 Yr
7,Junior Clinical Data Management,techno endura,Delhi\n+6,0 to 1 Yr
8,Clinical Analyst Fresher,techno endura,Delhi\n+6,0 to 1 Yr
9,Data Engineer,future solution centre,Delhi\n+9,10 to 20 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 
6. Brand 
7. Product Description 
8. Price 
To scrape the data you have to go through following steps: 
1. Go to Flipkart webpage by url : https://www.flipkart.com/ 
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon 
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then 
click on it. 
5. Now scrape data from this page as usual 
6. Repeat this until you get data for 100sunglasses.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get("https://www.flipkart.com/")#Go to Flipkart webpage by url : https://www.flipkart.com/

In [6]:
products = driver.find_element(By.XPATH,'//div[@class="_2SmNnR"]/input')#Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
products.send_keys('sunglasses')

In [12]:
search_icon = driver.find_element(By.XPATH,'//div[@class="_1sFryS _2alaMB"]/button')

In [14]:
search_icon.click()

In [15]:
sunglass = []#After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
name = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

for i in name:
    sunglass.append(i.text)
sunglass

['PROVOGUE',
 'NuVew',
 'SRPM',
 'ROADWAY',
 'ROADWAY',
 'Elligator',
 'Mention',
 'Eyewearlabs',
 'ROADWAY',
 'Elligator',
 'PROVOGUE',
 'ROYAL SON',
 'ROADWAY',
 'Netwiz',
 'Rich Club',
 'Rich Club',
 'ROYAL SON',
 'ROYAL SON',
 'Netwiz',
 'VINCENT CHASE',
 'AISLIN',
 'ROYAL SON',
 'VINCENT CHASE',
 'Elligator',
 'Elligator',
 'Elligator',
 'AISLIN',
 'Eyewearlabs',
 'Netwiz',
 'PIRASO',
 'AISLIN',
 'ROYAL SON',
 'PIRASO',
 'Fastrack',
 'Zeemork',
 'PIRASO',
 'NuVew',
 'ROYAL SON',
 'PIRASO',
 'Singco India']

In [16]:
product_desc = []
desc = driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')

for i in desc:
    product_desc.append(i.text)
product_desc

['UV Protection Round Sunglasses (Free Size)',
 'UV Protection Sports, Wrap-around Sunglasses (70)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Wayfarer, Sports, Spectacle , Retro Squar...',
 'UV Protection Retro Square, Wayfarer, Sports Sunglasses...',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (15)',
 'Polarized, UV Protection Wayfarer Sunglasses (51)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (52)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (52)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection, Gradient Retro Square Sunglasses (58)',
 'Gradient Retro Square Sunglasses (60)',
 'by Lenskart UV Protection Wayfarer Sunglasses (59)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection, Gradient Rectangular, Retro Square Sungl...',
 'Polarized, UV Protection Retro Square Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (60)',
 'UV Protection, Gradient Rectangular, Retro Square Sungl...',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Sports, Wrap-around Sunglasses (70)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection, Riding Glasses, Gradient Clubmaster Sung...']

In [17]:
price = []
de = driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]/div/div[1]')

for i in de:
    price.append(i.text)
price

['₹643',
 '₹474',
 '₹169',
 '₹149',
 '₹129',
 '₹159',
 '₹256',
 '₹1,236',
 '₹179',
 '₹169',
 '₹634',
 '₹594',
 '₹232',
 '₹367',
 '₹487',
 '₹394',
 '₹636',
 '₹497',
 '₹367',
 '₹599',
 '₹418',
 '₹672',
 '₹499',
 '₹169',
 '₹169',
 '₹149',
 '₹418',
 '₹1,999',
 '₹367',
 '₹279',
 '₹418',
 '₹551',
 '₹299',
 '₹539',
 '₹404',
 '₹388',
 '₹412',
 '₹359',
 '₹224',
 '₹249']

In [24]:
discount = []
dout = driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]/div/div[3]/span')
for i in dout:
    discount.append(i.text)
discount

['74% off',
 '70% off',
 '86% off',
 '88% off',
 '87% off',
 '68% off',
 '71% off',
 '65% off',
 '82% off',
 '83% off',
 '75% off',
 '70% off',
 '82% off',
 '63% off',
 '62% off',
 '80% off',
 '68% off',
 '66% off',
 '63% off',
 '70% off',
 '72% off',
 '66% off',
 '75% off',
 '86% off',
 '86% off',
 '75% off',
 '72% off',
 '44% off',
 '63% off',
 '89% off',
 '72% off',
 '72% off',
 '88% off',
 '40% off',
 '79% off',
 '85% off',
 '74% off',
 '76% off',
 '85% off',
 '87% off']

In [26]:
next_ = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')#After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.

In [27]:
next_.click()

In [ ]:
#Now scrape data from this page as usual
#Repeat this until you get data for 100sunglasses.

In [28]:
sunglass_name = []
name = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

for i in name:
    sunglass_name.append(i.text)
sunglass_name

['Eyewearlabs',
 'ROYAL SON',
 'PIRASO',
 'Fastrack',
 'AISLIN',
 'PIRASO',
 'AISLIN',
 'AISLIN',
 'VINCENT CHASE',
 'ROYAL SON',
 'RESIST EYEWEAR',
 'AISLIN',
 'hayden haiza',
 'VINCENT CHASE',
 'Fastrack',
 'METRONAUT',
 'ROYAL SON',
 'ROYAL SON',
 'VINCENT CHASE',
 'PC STAR',
 'ROYAL SON',
 'ROYAL SON',
 'Singco India',
 'VINCENT CHASE',
 'Eyewearlabs',
 'PIRASO',
 'Eyewearlabs',
 'NuVew',
 'PC STAR',
 'ROYAL SON',
 'ROYAL SON',
 'NuVew',
 'PIRASO',
 'Roadster',
 'NuVew',
 'Singco India',
 'NuVew',
 'NuVew',
 'NuVew',
 'VINCENT CHASE']

In [29]:
product_desc = []
desc = driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')

for i in desc:
    product_desc.append(i.text)
product_desc

['Polarized, UV Protection Rectangular Sunglasses (65)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Rectangular, Retro Square Sungl...',
 'UV Protection, Gradient Rectangular, Retro Square Sungl...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'Toughened Glass Lens, UV Protection, Riding Glasses Way...',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'UV Protection Retro Square Sunglasses (47)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Sunglass',
 'Polarized, UV Protection Retro Square Sunglasses (61)',
 'Polarized, UV Protection Aviator Sunglasses (57)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection, Gradient Over-sized Sunglasses (59)',
 'Polarized, UV Protection Round Sunglasses (52)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Polarized, UV Protection Wayfarer Sunglasses (51)',
 'UV Protection Over-sized Sunglasses (65)',
 'Polarized, UV Protection Retro Square Sunglasses (54)',
 'UV Protection Sports, Wrap-around Sunglasses (59)',
 'UV Protection, Riding Glasses Retro Square Sunglasses (...',
 'Polarized Rectangular Sunglasses (60)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Cat-eye Sunglasses (60)',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient Rectangular Sunglasses (58)',
 'UV Protection, Mirrored Aviator Sunglasses (58)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection Wayfarer Sunglasses (60)',
 'UV Protection, Mirrored Sports Sunglasses (62)',
 'UV Protection Sports Sunglasses (62)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...']

In [30]:
price = []
de = driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]/div/div[1]')

for i in de:
    price.append(i.text)
price

['₹2,199',
 '₹594',
 '₹224',
 '₹619',
 '₹426',
 '₹210',
 '₹418',
 '₹418',
 '₹599',
 '₹636',
 '₹1,199',
 '₹581',
 '₹275',
 '₹811',
 '₹919',
 '₹249',
 '₹664',
 '₹772',
 '₹819',
 '₹267',
 '₹659',
 '₹759',
 '₹590',
 '₹599',
 '₹1,236',
 '₹299',
 '₹1,299',
 '₹418',
 '₹339',
 '₹594',
 '₹359',
 '₹375',
 '₹199',
 '₹279',
 '₹96',
 '₹375',
 '₹485',
 '₹332',
 '₹325',
 '₹699']

In [31]:
discount = []
dout = driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]/div/div[3]/span')
for i in dout:
    discount.append(i.text)
discount

['38% off',
 '70% off',
 '85% off',
 '38% off',
 '72% off',
 '86% off',
 '72% off',
 '72% off',
 '70% off',
 '68% off',
 '76% off',
 '65% off',
 '83% off',
 '59% off',
 '34% off',
 '80% off',
 '55% off',
 '61% off',
 '59% off',
 '73% off',
 '67% off',
 '62% off',
 '70% off',
 '70% off',
 '65% off',
 '88% off',
 '63% off',
 '75% off',
 '83% off',
 '70% off',
 '76% off',
 '74% off',
 '87% off',
 '70% off',
 '89% off',
 '84% off',
 '72% off',
 '73% off',
 '73% off',
 '65% off']

In [39]:
next_ = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_.click()

In [40]:
sunglass = []
name = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

for i in name[0:20]:
    sunglass.append(i.text)
sunglass

['RESIST EYEWEAR',
 'Ray-Ban',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'ROYAL SON',
 'VINCENT CHASE',
 'Mast & Harbour',
 'Singco India',
 'HRX by Hrithik Roshan',
 'ROYAL SON',
 'Fastrack',
 'john jacobs',
 'ROYAL SON',
 'iCopertina',
 'Fastrack',
 'OAKLEY',
 'Fastrack',
 'Ray-Ban',
 'VINCENT CHASE',
 'PIRASO']

In [41]:
product_desc = []
desc = driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')

for i in desc[0:20]:
    product_desc.append(i.text)
product_desc

['Polarized, Riding Glasses, UV Protection Wayfarer Sungl...',
 'UV Protection Round Sunglasses (58)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'Mirrored Aviator Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Others Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Retro Square, Rectangular...',
 'Polarized Rectangular Sunglasses (57)',
 'Others Retro Square Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Clubmaster Sunglasses (48)',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (59)',
 'Rectangular Sunglass',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'by Lenskart UV Protection Wayfarer Sunglasses (62)',
 'UV Protection Butterfly Sunglasses (65)']

In [42]:
price = []
de = driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]/div/div[1]')

for i in de[0:20]:
    price.append(i.text)
price

['₹1,250',
 '₹4,941',
 '₹399',
 '₹551',
 '₹359',
 '₹499',
 '₹239',
 '₹429',
 '₹879',
 '₹449',
 '₹569',
 '₹2,999',
 '₹359',
 '₹130',
 '₹859',
 '₹5,617',
 '₹569',
 '₹6,548',
 '₹558',
 '₹346']

In [44]:
discount = []
dout = driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]/div/div[3]/span')
for i in dout[0:20]:
    discount.append(i.text)
discount

['74% off',
 '25% off',
 '80% off',
 '72% off',
 '76% off',
 '75% off',
 '74% off',
 '82% off',
 '70% off',
 '70% off',
 '36% off',
 '50% off',
 '76% off',
 '86% off',
 '38% off',
 '25% off',
 '43% off',
 '20% off',
 '72% off',
 '86% off']

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART 
As shown in the above page you have to scrape the tick marked attributes. These are: 
1. Rating 
2. Review summary 
3. Full review 
4. You have to scrape this data for first 100reviews.

In [63]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By

In [64]:
driver = webdriver.Chrome()

In [65]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [66]:
ratings = []#Rating from flipkart
review_summary = []#Review summary from flipkart
full_review = []#Review summary from flipkart
for page in range(0,15,1):#You have to scrape this data for first 100reviews.
    br = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in br[0:100]:
        ratings.append(i.text)
        
    p_d = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for j in p_d[0:100]:
        review_summary.append(j.text)
        
    pri = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div/div[1]')
    for z in pri[0:100]:
        full_review.append(z.text)
        
    next_s = driver.find_element(By.XPATH,'//nav[@class="yFHi8N"]/a[11]')
    next_s.click()
    time.sleep(3)

In [69]:
print(ratings)

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '4', '5', '4', '5', '5', '5', '5', '4', '5', '4', '5', '5', '3', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5']

In [70]:
print(review_summary)

['Perfect product!', 'Worth every penny', 'Best in the market!', 'Terrific', 'Terrific purchase', 'Classy product', 'Wonderful', 'Awesome', 'Fabulous!', 'Perfect product!', 'Just wow!', 'Must buy!', 'Brilliant', 'Brilliant', 'Excellent', 'Fabulous!', 'Terrific purchase', 'Must buy!', 'Super!', 'Simply awesome', 'Terrific purchase', 'Excellent', 'Wonderful', 'Awesome', 'Worth every penny', 'Highly recommended', 'Wonderful', 'Very Good', 'Brilliant', 'Classy product', 'Terrific', 'Excellent', 'Perfect product!', 'Terrific purchase', 'Super!', 'Terrific purchase', 'Delightful', 'Fabulous!', 'Wonderful', 'Terrific purchase', 'Great product', "Don't waste your money", 'Great product', 'Classy product', 'Terrific purchase', 'Just wow!', 'Super!', 'Simply awesome', 'Terrific', 'Awesome', 'Really Nice', 'Best in the market!', 'Great product', 'Best in the market!', 'Fabulous!', 'Wonderful', 'Delightful', 'Worth every penny', 'Nice product', 'Wonderful', 'Super!', 'Simply awesome', 'Highly recommended', 'Good quality product', 'Worth every penny', 'Good choice', 'Terrific purchase', 'Just wow!', 'Fair', 'Very Good', 'Classy product', 'Simply awesome', 'Brilliant', 'Simply awesome', 'Simply awesome', 'Highly recommended', 'Great product', 'Just wow!', 'Perfect product!', 'Awesome', 'Good choice', 'Must buy!', 'Fabulous!', 'Perfect product!', 'Super!', 'Nice product', 'Best in the market!', 'Excellent', 'Terrific', 'Super!', 'Mind-blowing purchase', 'Worth every penny', 'Brilliant', 'Wonderful', 'Must buy!', 'Mind-blowing purchase', 'Good choice', 'Worth every penny']

In [71]:
print(full_review)

['V Good all', 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!', 'Good Camera', 'Very very good', 'Value for money 😍', 'Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!', 'This is amazing at all', 'iPhone 11 is a good phone. Not a very big difference between 12 except for the OLED screen and a very minor camera improvement which is you cant make a difference. If you are planning for a iPhone and you have budget you definitely can go for this without second thoughts.\nNow some people are complaining and giving review 0 or so because there is no charger and headphones, but thats been already mentioned so I assume they are illiterate. Its not that Flipkart is removing them duh. Anyways bee...', 'Super🔥 and good performance 👌❤️', 'Photos super', 'Perfect Product!!', 'It’s really awesome', 'Excellent Phone.', 'very good camera quality', 'NYC', 'It’s very good battery life and display and video quality and ther performance of iPhone.....🔥🔥🌈', 'Value for money 🖤🖤', 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.', 'Good product 👌I love iPhone', 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.', 'Awesome 💙', 'Using this phone from last 4days, great camera quality love it', 'Quality camera', 'Awesome Phone. Battery backup top-notch...', "It is better to buy iPhone 11 over iPhone 12 if you prioritize the camera,Its because the difference isn’t significantly huge except lowlight performance and Go for 128 GB variant rather than 64 GB because the system data alone contains 20 GB of data .\nEven though it's 720p LCD display but it's better than todays Android's 1080p display. My phone was a 64GB mint green model and this one is really pretty especially in the real life. I can still get almost everything out of what i paid for at a...", 'Thanks Flipkart For this amazing deal! I had a dream of owning a iphone since i had known about.\nIm very happy with my purchase & it is totally worth it.\nAmazing experience all over !!\n\nAnyone who’s thinking of buying it in 2021, i would simply say go for it without any second thoughts ❤️', 'Excellent Fabulous Adorable Iphone 11 Value for money and premium phone', 'I switched to IOS for long term use and for better camera and performance in this cost there are many good android phones also available but in compare to camera , performance and security IOS is best 👍', 'Perfect iPhone on this budget!! Camera and the night mode is crazy and killing it 🤩 Also the colour suits for everyone ❤️', 'Outstanding performance this phone', 'Superb , very nice thank you Flipkart', '🤩🤩🤩🤩🤩🤩I loved the Phone.. Every time I pick up the phone it makes me happy... The phone is beast💪💪 and the camera is fabulous 🥰🥰🥰.. I think one of my great purchase from Flipkart.. Thank you Filpkart..', 'Excellent mobile speed is up to the mark . Right choice for upgrade from 6S to 11', 'So soo damn happy and excited about the purchase as it has always been a dream for me to purchase an iphone. The phone is excellent and even in 2022 it stands out compared to other phones. The delivery was on time and the service was exceptional 💯 💯 💯 💯.', 'I love the camera ❤️', 'Its Very awesome product working and good camera quality and all about best product and also flipkart is very great deal and offer nice price', 'Just the display held it from being a 5star phone ....at the age if oleds at 90/120hz its a lcd with 60hz with bezzels thats are 2017 ish .some people will argue that it can pass by and yes it did i came from a s8 that was the best displays till 2018 and one of the bests still today ...after 1week it my eyes kinda adapeted it but whatever and argument this display cannit be justfied at this price range..and last bumper is the 5w charge like seriously.just buy a third party charger', 'Perfect', 'just love it..best in market?', 'Just Great', 'Awesome', 'After observing intensely i can see there is a slight gap between display and body edges. i never expectd. no help both the side', 'Good', 'Flawless!', 'Loved it 😍', 'Product 100%', "It's a best phone ever", 'Awesome phone at this price.\nNo lagging issues whatsoever\nResolution is bit low but doesn’t feels like\nCamera is fantastic 12 MP front and 12 MP back with additional wide angle camera. Smooth 4K recording at 60 FPS is quite amazing.\nSpeaker is louder\nLove this phone', 'Very good smartphone and value for smoother and speedy response and work', 'What can I say iam in love', 'Superbb product but battery level little bit to improve', 'Value for money and apple did great job in battery performance. Overall performance is excellent', 'Super fast delivery I can say, delivered within 24hours even in a rural area ,thanks to Flipkart for that. Everything about the phone is amazing this is my First IPhone it’s worth the price and the processor is extremely smooth.', 'Nice mobile', 'Thats awesome', 'Just go for it without a second thought!', 'Superb 👌', 'Here is the thing\n\nThe only reason why you should buy this phone is for the camera, iOS, and if you have headaches looking at AMOLED display.\n\nI’m not an avid gamer but watch a lot of movies on smartphone. However, my migraine attacks increased considerably after using AMOLED Smartphone. That’s why I made a calculated decision to buy iPhone 11. It has the best LCD display and the blacks, though not as natural as an AMOLED, is better than some of the other smartphones.\n\nAdding to this the ste...', "If you are looking for a premium phone under 55k, this is the one for you.Got the iPhone 11 during the Republic day sale. Performance is top notch in this price range. Camera's do a perfect job in taking good quality photos and videos. Battery backup too is satisfactory. Writing this review after using for a week. Any further observations would be updated.", 'Bought second time because it is awesome', 'Nice', 'Awsn loved it', 'I would definitely recommend to buy this phone if you are deciding to purchase iPhone 11 Pro then you are wasting your money because all the things are same . There is only 2 difference between these phone .\n1. Display\n2. Camera\nThat’s it . You can’t complain about display when you will use this display lcd display is also a better display and\nThe 3rd camera which is telephoto lens I don’t think so this would be useful because we usually don’t click the picture with the telephoto lens th...', 'Awesome camera, smooth and fast UI, display is great (though not LED) but the black area at the top could have been reduced. Battery remains a day even if used heavily. Charger in the box is ok, but 12 or 18W could have been nothing like anything. Overall an excellent product and comfortable to use. I have got it almost a month back and so far so good.', "no complaint against the display it's very crisp , though it is not the OLED but if you put side by side and compare with iPhone xs you hardly notice any difference , i noticed the brightness because 11 has 600 nits compare to 1200 nits on xs . other wise you never feel that its a 720 p display. very very good quality LCD screen you can't compare with any other LCD screen it's far better than any other LCD screen available in market. battery is very impressive , and Love the sound of stereo s...", 'Camera quality is not that much impressive rest all is good. I’ve updated day n night pic you can check out. Zooming quality is pathetic seriously. Other is okay', 'Fkng awesome phone, you won’t regret spending money on it.\nBattery is 3110mah, sufficient amount if you’re not continuously using it. Performance is up-to to the point.\nFace ID is extremely fast and smooth, you wont even realize you’ve unlocked your phone.\nFYI I’m reviewing this product after 3 months of usage because I wanted to know how the battery and other things are in this phone. So if you are thinking of buying it, Just go for it.', 'Nice best', 'I feel face id recognition is very slow some time even need to key in the passcode. Heating up problem I faced. Display is okay.Over all the price what I have paid accordingly I am not satisfied. Charging takes much time.', 'Received my first iPhone in just two days. Love the colour, and looks and great performance so far. But somehow disappointed from apple and flipkart both. Apple doesn’t provided power adopter with a high value phone and the packing was so poor by flipkart. After seeing the packing I am really thankful that I received this phone with right condition.', 'Nice', 'premium phone with security of apple\nfast and secure delivery', 'value for money product', 'Daylight Camera quality is best at this price range..', 'My dream phone\nAnd excellent', 'vry nice product', "Again back to apple iphone after a gap of 2-3 years. It's pleasure to use iOS and the quality product by Apple. Iphone 11 still works like a beast in 2021 also. It really capable of doing day to day usage as well as hard core gaming. Battery is awesome. I'm really too much satisfied with it. Apart fto the very gorgious IPS LCD (AMOLED will be better) everything is mind boggling. Iphone💕.", "I'm very satisfied with this Phone's quality 😍 Worth for my money 💵 android users must give it a try ❣️", 'Nice', 'Superb Phone', "ALL PRODUCTS IS VERY GOOD BUT THEY MUST PROVIDE A POWER' ADAPTER. THIS IS VERY DISAPPOINTED", 'Nice', 'Loved this product and a very fast delivery from flipkart...', 'Best phone', 'The only issue is the unavailability of fast charging adapter in the box. It really takes a hell lotta time to get 100%.\nApart from that.. it really is a premium smart phone.\nOne can easily fall in love with the fast and efficient performance.', 'Awesome😍😍', 'Best handset. Iphone 11. 128 gb', "I got this for 45 k on flipkart sale....only downside is we have to buy charger and earphones separately.... Due to this pandemic period,,some states are doing lockdowns,,it's hard for us to buy genuine charger from iplanet as they are closed......but Best deal I made... I'm satisfied with the product...thank you flipkart for nice packing and fast delivering the product", 'Good.. price is too high.. performance build quality camera are okay', 'Good device to buy if you are not so found of 5g mobiles.\n\nThe design is modern,\nPerformance is too good in its segment.\nDisplay is best considering a LCD panel.\n\nOnly drawback is its battery backup.\nIn my case it last for 7-8 hours on dual sim', 'Amazing phone i am so happy thank you filpkart', 'Awesome product 😘❤️', 'Worth buying', 'Been using it for 8months.No problem so far.It’s worth it👍👍', 'Iphone is always excellent one..', 'Excellent.\nBecause nobody reads a review before buying iPhone.', 'Good product', 'Super awesome']

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field. 
You have to scrape 3 attributes of each sneaker: 
1. Brand 
2. Product Description 
3. Price 
As shown in the below image, you have to scrape the above attributes.

In [35]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By

In [36]:
driver = webdriver.Chrome()

In [37]:
driver.get("https://www.flipkart.com/")#visit flipkart.com

In [38]:
products = driver.find_element(By.XPATH,'//div[@class="_2SmNnR"]/input')#search for “sneakers” in the search field
products.send_keys('sneakers')

In [39]:
search_icon = driver.find_element(By.XPATH,'//div[@class="_1sFryS _2alaMB"]/button')

In [40]:
search_icon.click()

In [41]:
brand = []#Brand from flipkart
product_desc = []#Product Description
price = []#Price 
for page in range(0,3):#Scrape data for first 100 sneakers 
    br = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in br[0:100]:
        brand.append(i.text)
        
    p_d = driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')
    for j in p_d[0:100]:
        product_desc.append(j.text)
        
    pri = driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[2]/div/div[1]')
    for z in pri[0:100]:
        price.append(z.text)
        
    next_s = driver.find_element(By.XPATH,'//nav[@class="yFHi8N"]/a[11]')
    next_s.click()
    time.sleep(3)

In [42]:
print(len(brand),len(product_desc),len(price))

120 120 120

In [44]:
df = pd.DataFrame({'BRAND':brand,'PRODUCT_DESC':product_desc,'PRICE':price})
df

,BRAND,PRODUCT_DESC,PRICE
0,kardam&sons,kardam&sons luxury fashionable casual boots Sn...,₹409
1,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹333
2,URBANBOX,Trending Stylish Casual Outdoor Sneakers Shoes...,₹299
3,RED TAPE,Sneaker Casual Shoes For Men | Soft Cushion In...,"₹1,079"
4,Deals4you,Sneakers For Women,₹299
...,...,...,...
115,CAMPUS,RAISE Sneakers For Women,"₹1,561"
116,MOZAFIA,Comfortable Canvas Lace-up Casual Ankle Length...,₹799
117,ATOM,Sneakers For Men,"₹1,349"
118,Deals4you,Sneakers For Women,₹419
119,HRX by Hrithik Roshan,Cityscape Sneakers For Men,"₹1,047"

In [45]:
df[0:100]#100 snickers

          BRAND                                       PRODUCT_DESC   PRICE
0   kardam&sons  kardam&sons luxury fashionable casual boots Sn...    ₹409
1        BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men    ₹333
2      URBANBOX  Trending Stylish Casual Outdoor Sneakers Shoes...    ₹299
3      RED TAPE  Sneaker Casual Shoes For Men | Soft Cushion In...  ₹1,079
4     Deals4you                                 Sneakers For Women    ₹299
..          ...                                                ...     ...
95  New Balance                               237 Sneakers For Men  ₹3,659
96        asian  Boston-01 Chunky Sneakers,Loafers,Walking Shoe...    ₹744
97       Airson  JR-07|Sneaker Shoes For Men | Sneakers For Men...    ₹999
98         PUMA                         Tread Run Sneakers For Men  ₹1,889
99         PUMA               Rider FV Ivy League Sneakers For Men  ₹3,779

[100 rows x 3 columns]

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then 
set CPU Type filter to “Intel Core i7” as shown in the below image: 
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop: 
1. Title 
2. Ratings 
3. Price

In [72]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By

In [73]:
driver = webdriver.Chrome()

In [74]:
driver.get("https://www.amazon.in/")#Go to webpage https://www.amazon.in/

In [75]:
search = driver.find_element(By.XPATH,'//input[@id="twotabsearchtextbox"]')#Enter “Laptop” in the search field 
search.send_keys('Laptop')

In [76]:
icon = driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')#then click the search icon.
icon.click()

In [77]:
filter_ = driver.find_element(By.XPATH,'//li[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a')#Then set CPU Type filter to “Intel Core i7” 
filter_.click()

In [91]:
title = []#title of laptop
titles = driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]/span')
for i in titles[0:10]:
    title.append(i.text)
title

['Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 15.6 inch (39.62cm) FHD Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/3months Game Pass/Arctic Grey/1.63Kg), 82RK011EIN',
 'Samsung Galaxy Book3 Core i7 13th Gen 1355U - (16 GB/512 GB SSD/Windows 11 Home) Galaxy Book3 Thin and Light Laptop  (15.6 Inch, Graphite, 1.58 Kg, with MS Office)',
 'MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM FHD 60Hz Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Intel Iris Xe Graphics/Classic Black/1.4Kg), C12M-459IN',
 'Acer Travelmate Business Laptop Intel Core i7-11th Gen (Windows 11 Home/16 GB Ram/1TB SSD/Intel Iris Xe Graphics/14.0 IPS Display/Backlit Keyboard/Fingerprint Sensor) TMP214-53',
 'ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, 4GB NVIDIA GeForce RTX 3050 Ti, Gaming Laptop (16GB/1TB SSD/Win 11/MSO/90WHrs Battery/Black/2.30 Kg), FX506HE-HN385WS',
 'Lenovo Yoga Slim7 Carbon Intel Evo i7 1260P 13.3"(33.78cm) QHD 400Nit Touch Laptop(16GB/1TB SSD/Win 11/Office 2021/Backlit KB/IR Cam/3Yr Warranty/Alexa/3 Month Game Pass/Moon White/ 1kg),82U90080IN',
 'Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 15.6 inch (39.62cm) FHD Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/3months Game Pass/Arctic Grey/1.63Kg), 82RK011EIN',
 'HP Pavilion 14 11th Gen Intel Core i7 16GB/1TB SSD 14 inches Laptop, FHD Micro-Edge Anti-Glare Display/Iris X\x89 Graphics/Backlit KB/B&O Audio/Fingerprint Reader/Windows 11 Ready/1.41kg, 14-dv0058TU',
 'Samsung Galaxy Book3 Core i7 13th Gen 1355U - (16 GB/512 GB SSD/Windows 11 Home) Galaxy Book3 Thin and Light Laptop  (15.6 Inch, Silver, 1.58 Kg, with MS Office)',
 'HP Victus Gaming Laptop, 12th Gen Intel Core i7-12650H, 4GB RTX 3050 GPU, 15.6-inch (39.6 cm), 75W TGP, FHD, IPS, 144Hz, 16GB DDR4, 512GB SSD, Backlit KB, B&O (MSO, Blue, 2.37 kg), fa0188TX']

In [90]:
ratings = []#ratings given by people
rate = driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for i in rate[0:10]:
    ratings.append(i.text)
ratings

['438', '66', '67', '1', '184', '4', '438', '681', '66', '322']

In [92]:
price = []#price of the laptop
pri = driver.find_elements(By.XPATH,'//span[@class="a-price"]')
for i in pri[0:10]:
    price.append(i.text)
price

['₹62,990',
 '₹89,990',
 '₹49,990',
 '₹49,990',
 '₹77,990',
 '₹1,19,990',
 '₹62,990',
 '₹84,899',
 '₹74,990',
 '₹82,990']

In [94]:
df = pd.DataFrame({'TITLE':title,'RATINGS':ratings,'PRICE':price})
df

                                               TITLE RATINGS      PRICE
0  Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 1...     438    ₹62,990
1  Samsung Galaxy Book3 Core i7 13th Gen 1355U - ...      66    ₹89,990
2  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...      67    ₹49,990
3  Acer Travelmate Business Laptop Intel Core i7-...       1    ₹49,990
4  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...     184    ₹77,990
5  Lenovo Yoga Slim7 Carbon Intel Evo i7 1260P 13...       4  ₹1,19,990
6  Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 1...     438    ₹62,990
7  HP Pavilion 14 11th Gen Intel Core i7 16GB/1TB...     681    ₹84,899
8  Samsung Galaxy Book3 Core i7 13th Gen 1355U - ...      66    ₹74,990
9  HP Victus Gaming Laptop, 12th Gen Intel Core i...     322    ₹82,990

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time. 
The above task will be done in following steps: 
1. First get the webpage https://www.azquotes.com/ 
2. Click on Top Quotes
3. Than scrap 
a) Quote b) Author c) Type Of Quotes

In [82]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By

In [83]:
driver = webdriver.Chrome()

In [84]:
driver.get("https://www.azquotes.com/")#First get the webpage https://www.azquotes.com/

In [85]:
ths_quo = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')#Click on Top Quotes
ths_quo.click()

In [86]:
quote = []#Than scrap a) Quote b) Author c) Type Of Quotes
author = []
t_o_q = []
for pages in range(0,10):
    
    qt = driver.find_elements(By.XPATH,'//div[@class="wrap-block"]/p/a[2]')
    for i in qt:
        quote.append(i.text)
        
    at = driver.find_elements(By.XPATH,'//div[@class="wrap-block"]/div/a')
    for i in at:
        author.append(i.text)
        
    to = driver.find_elements(By.XPATH,'//div[@class="tags"]/a')
    for i in to:
        t_o_q.append(i.text)
        
    next_page = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
    next_page.click()

In [87]:

grouped_data = [t_o_q[i:i+3] for i in range(0, len(t_o_q), 3)]
for group in grouped_data:
    print(group)

['Essence', 'Deep Thought', 'Transcendentalism']
['Inspiration', 'Past', 'Trying']
['Country', 'Peace', 'War']
['Inspirational', 'Motivational', 'Death']
['4th Of July', 'Food', 'Patriotic']
['Inspirational', 'Success', 'Basketball']
['Strong', 'Revenge', 'Intelligent']
['Inspirational', 'Teacher', 'Religious']
['Truth', 'Honesty', 'Lying']
['Funny', 'Reading', 'Learning']
['Strong', 'Thoughtful', 'Compassion']
['Love', 'Funny', 'Life']
['Freedom', 'Men', 'Democracies Have']
['God', 'Religious', 'Atheist']
['Respect', 'Kindness', 'Character']
['Inspirational', 'Motivational', 'Change']
['Inspirational', 'Life', 'Inspiring']
['Love', 'Inspirational', 'Life']
['Inspiring', 'Country', '4th Of July']
['Inspirational', 'Dream', 'Hate']
['Love', 'Inspirational', 'Life']
['Forgiveness', 'God', 'Christian']
['Country', 'Men', 'Squares']
['Inspirational', 'Relationship', 'Positive']
['Inspirational', 'Motivational', 'Positive']
['Love', 'Friendship', 'Relationship']
['Faith', 'God', 'Christian']
['Art', 'Freedom', 'Political Will']
['Inspirational', 'Life', 'Faith']
['Inspirational', 'Life', 'Meaningful']
['Happiness', 'Time', 'Clever']
['Inspirational', 'Inspiring', 'Success']
['Love', 'Inspirational', 'Life']
['Music', 'Sound And Music', 'Musical Life']
['Adversity', 'Blow', 'Action']
['Positive', 'Thinking Of You', 'Attitude']
['Inspirational', 'Funny', 'Life']
['Inspirational', 'Life', 'Motivational']
['Inspirational', 'Memorial Day', 'Freedom']
['Freedom', 'Patriotic', 'Vaccines']
['Philosophy', 'Ignorance', 'Democratic Socialism']
['Inspirational', 'Dance', 'Education']
['Life', 'Change', 'Positive']
['Life', 'Bullying', 'Mistake']
['Life', 'Nature', 'Children']
['Inspirational', 'Life', 'Motivational']
['Marriage', 'Love You', 'Long']
['Inspirational', 'Motivational', 'Success']
['Love', 'Inspirational', 'Life']
['Diversity', 'Important', 'Liberty']
['Inspirational', 'God', 'Faith']
['Inspirational', 'Motivational', 'Inspiring']
['Business', 'Stupid', 'Government']
['Beauty', 'Love Yourself', 'Your Beautiful']
['Inspirational', 'Life', 'Motivational']
['Peace', 'Military', 'War']
['Inspirational', 'Leadership', 'Confidence']
['Motivational', 'Military', 'War']
['Christian', 'Jesus', 'Confusing']
['Inspirational', 'Success', 'Sports']
['Inspirational', 'Motivational', 'Success']
['Inspirational', 'Life', 'Clever']
['Inspirational', 'Death', 'Failure']
['Inspirational', 'Life', 'Motivational']
['Inspiring', 'Hope', 'Spring']
['Motivational', 'Running', 'People']
['Inspirational', 'Motivational', 'Positive']
['Summer', 'Food', 'Garden']
['Inspirational', 'Life', 'Motivational']
['Inspirational', 'Life', 'Thank You']
['Funny', 'Sports', 'Jobs']
['Being Strong', 'Wisdom', 'Stay Strong']
['Inspirational', 'Motivational', 'Positive']
['Motivational', 'Positive', 'Moon']
['Time', 'Pain', 'Get Well']
['Life', 'God', 'Christian']
['President', 'Needs', 'Purpose']
['God', 'Faith', 'Christian']
['Women', 'Failure', 'Successful']
['Inspirational', 'Morning', 'Kindness']
['Hiding Place', 'Ability', 'Baby Boom']
['Love', 'Inspirational', 'Life']
['Inspirational', 'Change', 'Philosophy']
['Inspirational', 'Family', 'Inspiring']
['Inspirational', 'Success', 'Courage']
['Inspirational', 'Life', 'Motivational']
['Christian', 'Vision', 'Missionary']
['Inspirational', 'Positive', 'Regret']
['Love', 'Inspirational', 'Life']
['Inspirational', 'Life', 'Encouragement']
['Happy Birthday', 'Baseball', 'Fun']
['Leadership', 'Power', 'Opportunity']
['Inspirational', 'Life', 'Positive']
['Inspirational', 'Encouraging', 'Patience']
['New Year', 'Fun', 'New Beginnings']
['Music', 'Sports', 'Hunting']
['Trust', 'Encouraging', 'Uplifting']
['Inspirational', 'Funny', 'Change']
['Success', 'God', 'Mother']
['Inspirational', 'Motivational', 'Change']
['Spring', 'April', 'Fragrance']
['Inspirational', 'Faith', 'Spiritual']
['Inspirational', 'Motivational', 'Positive']
['Love', 'Inspirational', 'Life']
['Strength', 'Peace', 'Gun']
['Inspirational', 'Happiness', 'Leadership']
['Motivational', 'Dream', 'Determination']
['Freedom', 'Independent', 'Science']
['Life', 'Being Strong', 'Wisdom']
['Happy', 'God', 'New Year']
['Inspiring', 'Leadership', 'Teacher']
['Inspirational', 'Motivational', 'Fear']
['Inspirational', 'Success', 'Business']
['Inspirational', 'Respect', 'Idols']
['God', 'Bridges', 'Grace']
['Inspirational', 'Life', 'Self Esteem']
['Inspirational', 'Change', 'Moving On']
['Life', 'Change', 'Happiness']
['Inspirational', 'Life', 'Motivational']
['Love', 'Success', 'Encouraging']
['Government', 'Gun Control', 'Second Amendment']
['Inspirational', 'Motivational', 'Moving On']
['Inspirational', 'Life', 'Motivational']
['Love', 'Life', 'Positive']
['Love', 'Loving Yourself', 'Stay Positive']
['Inspirational', 'Life', 'Motivational']
['Inspirational', 'Life', 'Motivational']
['Love', 'Marriage', 'Wedding']
['Freedom', 'Liberty', 'Libertarian']
['Inspirational', 'Motivational', 'Positive']
['Moving On', 'Growing Up', 'Memories']
['Dream', 'Kings', 'Children']
['Art', 'Philosophy', 'Crazy']
['Self Esteem', 'Helping Others', 'Numbers']
['Inspirational', 'Motivational', 'Sports']
['Inspirational', 'Happiness', 'Happy']
['Happiness', 'Moving On', 'Letting Go']
['Inspirational', 'Motivational', 'Success']
['Inspirational', 'Blessed', 'Blessing']
['Inspirational', 'Life', 'Country']
['Inspirational', 'Funny', 'Life']
['Inspirational', 'Music', 'Lonely']
['Men', 'Self', 'Soul']
['Inspirational', 'Success', 'God']
['Thank You', 'Military', 'Marine']
['Trust', 'God', 'Confidence']
['Inspirational', 'Funny', 'Witty']
['Inspirational', 'Motivational', 'Inspiring']
['Motivational', 'Commitment', 'Tolerance']
['Inspirational', 'Life', 'Motivational']
['Motivational', 'Perseverance', 'Work']
['Ignorance', 'Knowledge', 'Hunting']
['Inspirational', 'Motivational', 'Positive']
['Motivational', 'Perseverance', 'Morning']
['Inspirational', 'Success', 'Letting Go']
['Military', 'Army', 'Warfare']
['Happiness', 'Being Happy', 'Peace']
['Inspirational', 'Change', 'Positive']
['Strength', 'Inspiring', 'Dream']
['Dog', 'Men', 'Animal']
['Inspirational', 'Life', 'Motivational']
['Inspirational', 'Motivational', 'Change']
['Inspirational', 'Leadership', 'Wise']
['Friendship', 'Fake Friends', 'Memorable']
['Inspirational', 'Money', 'Business']
['Love', 'Marriage', 'Home']
['Life', 'Death', 'Wisdom']
['Change', 'America', 'Presidential']
['Basketball', 'Motivational Sports', 'Character']
['Inspirational', 'Inspiring', 'Christian']
['Inspirational', 'Education', 'Moving']
['Inspirational', 'Children', 'Growing Up']
['Inspiring', 'Children', 'Team']
['Love', 'Funny', 'Sarcastic']
['Inspirational', 'Motivational', 'Change']
['Inspirational', 'Relationship', 'Inspiring']
['Death', 'Philosophy', 'Real']
['Funny', 'Life', 'Motivational']
['Love', 'Birthday', 'Family']
['Life', 'Friendship', 'Best Friend']
['Inspirational', 'Life', 'Motivational']
['Inspirational', 'Life', 'Motivational']
['Teacher', 'Peace', 'Children']
['Inspirational', 'Life', 'Positive']
['Peace', 'War', 'Memorable']
['Inspirational', 'Life', 'Motivational']
['Inspirational', 'Women', 'Sight']
['Motivational', 'Success', 'Encouragement']
['Motivational', 'Faith', 'Sports']
['Positive', 'Inspiring', 'Success']
['Inspirational', 'Faith', 'Hope']
['Love', 'Inspirational', 'Motivational']
['Success', 'Encouraging', 'Patience']
['Love', 'Inspirational', 'Motivational']
['Love', 'Inspirational', 'Life']
['Inspirational', 'Life', 'Motivational']
['Inspirational', 'Motivational', 'Positive']
['Love', 'Life', 'Lonely']
['Love', 'Inspirational', 'Friendship']
['Inspirational', 'Change', 'Inspiring']
['Inspirational', 'Life', 'Success']
['Peace', 'War', 'Government']
['Life', 'Strength', 'Courage']
['Positive', 'Family', 'Trust']
['Inspirational', 'Life', 'Motivational']
['Inspirational', 'Motivational', 'Teacher']
['Success', 'Spiritual', 'Wisdom']
['Inspiring', 'Encouragement', 'Bad Day']
['Strength', 'Christian', 'Self']
['Life', 'Motivational', 'Success']
['Inspirational', 'Success', 'Basketball']
['Inspirational', 'Motivational', 'Positive']
['Love', 'Valentines Day', 'Fate']
['Gun', 'People', 'Second Amendment']
['Long', 'Chinese', 'World']
['Inspirational', 'Greatness', 'Envy']
['Love', 'Inspiring', 'Positivity']
['Practice', 'Political', 'Deception']
['Military', 'Marine', 'Hands']
['Inspirational', 'Life', 'Motivational']
['Love', 'Life', 'Crush']
['Inspirational', 'Motivational', 'Peace']
['Inspirational', 'Freedom', 'Responsibility']
['Inspirational', 'Life', 'Motivational']
['Inspirational', 'Positive', 'Success']
['Inspirational', 'God', 'Stay Strong']
['Motivational', 'Running', 'Ideas']
['Inspirational', 'Life', 'Happiness']
['Sports', 'Hero', 'News']
['Inspirational', 'Funny', 'Positive']
['Anger', 'Adversity', 'Climbing']
['Inspirational', 'Inspiring', 'Friends']
['Motivational', 'Inspiration', 'Adversity']
['Children', 'Creativity', 'Ignorance']
['Life', 'Music', 'Beautiful']
['Inspirational', 'Positive', 'Freedom']
['Inspirational', 'Life', 'Bullying']
['Inspirational', 'Motivational', 'Success']
['Inspirational', 'Inspiring', 'Beauty']
['Witty', 'Attitude', 'Freedom']
['Military', 'Marine', 'Men']
['Motivational', 'Success', 'Positivity']
['Plato', 'War', 'Government']
['Inspirational', 'Educational', 'Learning']
['Inspirational', 'Motivational', 'Success']
['Inspirational', 'Life', 'Second Chance']
['Motivational', 'Sports', 'Football']
['Thanksgiving', 'Thankful', 'Gratitude']
['Love', 'Happiness', 'Smile']
['Inspirational', 'Motivational', 'Badass']
['Life', 'Inspiring', 'Encouragement']
['Funny', 'Humorous', 'Character']
['Moving On', 'Famous Inspirational', 'Greatness']
['Motivational', 'Happiness', 'Mean']
['Life', 'Birthday', 'Inspiring']
['Children', 'Educational', 'Future']
['Inspirational', 'Funny', 'Life']
['Change', 'Inspiring', 'Life Changing']
['Inspirational', 'Integrity', 'Yoga']
['Inspirational', 'Positive', 'Wisdom']
['Funny', 'Hilarious', 'Education']
['Sheep', 'Government', 'Political']
['Leadership', 'Appreciation', 'Team Building']
['Inspirational', 'Change', 'Success']
['Empowerment', 'Crowds', 'Empowering Women']
['Education', 'Learning', 'Knowledge']
['Fear', 'Positivity', 'Doubting Everything']
['Inspirational', 'Motivational', 'Sports']
['Happiness', 'Inspiring', 'Happy']
['Funny', 'Attitude', 'Climbing']
['Confidence', 'Littles', 'Matter']
['Motivational', 'Buddhist', 'Children']
['Mean', 'Opportunity', 'Nerd']
['Love', 'Funny', 'Romantic']
['Inspirational', 'Positive', 'Stars']
['Running', 'Years', 'Tests']
['Peace', 'Integrity', 'Patriotic']
['Inspirational', 'Motivational', 'Relationship']
['Love', 'Life', 'Being Yourself']
['Happiness', 'Work', 'Opportunity']
['Inspiring', 'Forgiveness', 'New Beginnings']
['Motivational', 'Success', 'Work']
['Positive', 'Wisdom', 'Philosophical']
['Inspirational', 'Life', 'Motivational']
['Life', 'Leadership', 'Motivational Sports']
['Love', 'Confidence', 'Forgiving']
['Spiritual', 'Sufi', 'Wherever You Are']
['Inspirational', 'Motivational', 'Change']
['Inspirational', 'Life', 'Music']
['Artist', 'Age', 'Example']
['Inspirational', 'Motivational', 'Wise']
['Inspirational', 'Funny', 'Stupid']
['Love', 'Inspirational', 'Life']
['Education', 'Curiosity', 'Genius']
['Motivational', 'Inspiring', 'Leadership']
['Love', 'Inspirational', 'Motivational']
['Gun', 'Two', 'Qualms About']
['Inspirational', 'Greatness', 'Best Effort']
['Spiritual', 'Truth', 'Yoga']
['Inspirational', 'Leadership', 'Education']
['Inspirational', 'Life', 'Success']
['Peace', 'War', 'Government']
['Life', 'Strength', 'Courage']
['Positive', 'Family', 'Trust']
['Inspirational', 'Life', 'Motivational']
['Inspirational', 'Motivational', 'Teacher']
['Success', 'Spiritual', 'Wisdom']
['Inspiring', 'Encouragement', 'Bad Day']
['Strength', 'Christian', 'Self']
['Life', 'Motivational', 'Success']
['Inspirational', 'Success', 'Basketball']
['Inspirational', 'Motivational', 'Positive']
['Love', 'Valentines Day', 'Fate']
['Gun', 'People', 'Second Amendment']
['Long', 'Chinese', 'World']
['Inspirational', 'Greatness', 'Envy']
['Love', 'Inspiring', 'Positivity']
['Practice', 'Political', 'Deception']
['Military', 'Marine', 'Hands']
['Inspirational', 'Life', 'Motivational']
['Love', 'Life', 'Crush']
['Inspirational', 'Motivational', 'Peace']
['Inspirational', 'Freedom', 'Responsibility']
['Inspirational', 'Life', 'Motivational']
['Inspirational', 'Positive', 'Success']
['Inspirational', 'God', 'Stay Strong']
['Motivational', 'Running', 'Ideas']
['Inspirational', 'Life', 'Happiness']
['Sports', 'Hero', 'News']
['Inspirational', 'Funny', 'Positive']
['Anger', 'Adversity', 'Climbing']
['Inspirational', 'Inspiring', 'Friends']
['Motivational', 'Inspiration', 'Adversity']
['Children', 'Creativity', 'Ignorance']
['Life', 'Music', 'Beautiful']
['Inspirational', 'Positive', 'Freedom']
['Inspirational', 'Life', 'Bullying']
['Inspirational', 'Motivational', 'Success']
['Inspirational', 'Inspiring', 'Beauty']
['Witty', 'Attitude', 'Freedom']
['Military', 'Marine', 'Men']
['Motivational', 'Success', 'Positivity']
['Plato', 'War', 'Government']
['Inspirational', 'Educational', 'Learning']
['Inspirational', 'Motivational', 'Success']
['Inspirational', 'Life', 'Second Chance']
['Motivational', 'Sports', 'Football']
['Thanksgiving', 'Thankful', 'Gratitude']
['Love', 'Happiness', 'Smile']
['Inspirational', 'Motivational', 'Badass']
['Life', 'Inspiring', 'Encouragement']
['Funny', 'Humorous', 'Character']
['Moving On', 'Famous Inspirational', 'Greatness']
['Motivational', 'Happiness', 'Mean']
['Life', 'Birthday', 'Inspiring']
['Children', 'Educational', 'Future']
['Inspirational', 'Funny', 'Life']
['Change', 'Inspiring', 'Life Changing']
['Inspirational', 'Integrity', 'Yoga']
['Inspirational', 'Positive', 'Wisdom']
['Funny', 'Hilarious', 'Education']
['Sheep', 'Government', 'Political']
['Leadership', 'Appreciation', 'Team Building']
['Inspirational', 'Change', 'Success']
['Empowerment', 'Crowds', 'Empowering Women']
['Education', 'Learning', 'Knowledge']
['Fear', 'Positivity', 'Doubting Everything']
['Inspirational', 'Motivational', 'Sports']
['Happiness', 'Inspiring', 'Happy']
['Funny', 'Attitude', 'Climbing']
['Confidence', 'Littles', 'Matter']
['Motivational', 'Buddhist', 'Children']
['Mean', 'Opportunity', 'Nerd']
['Love', 'Funny', 'Romantic']
['Inspirational', 'Positive', 'Stars']
['Running', 'Years', 'Tests']
['Peace', 'Integrity', 'Patriotic']
['Inspirational', 'Motivational', 'Relationship']
['Love', 'Life', 'Being Yourself']
['Happiness', 'Work', 'Opportunity']
['Inspiring', 'Forgiveness', 'New Beginnings']
['Motivational', 'Success', 'Work']
['Positive', 'Wisdom', 'Philosophical']
['Inspirational', 'Life', 'Motivational']
['Life', 'Leadership', 'Motivational Sports']
['Love', 'Confidence', 'Forgiving']
['Spiritual', 'Sufi', 'Wherever You Are']
['Inspirational', 'Motivational', 'Change']
['Inspirational', 'Life', 'Music']
['Artist', 'Age', 'Example']
['Inspirational', 'Motivational', 'Wise']
['Inspirational', 'Funny', 'Stupid']
['Love', 'Inspirational', 'Life']
['Education', 'Curiosity', 'Genius']
['Motivational', 'Inspiring', 'Leadership']
['Love', 'Inspirational', 'Motivational']
['Gun', 'Two', 'Qualms About']
['Inspirational', 'Greatness', 'Best Effort']
['Spiritual', 'Truth', 'Yoga']
['Inspirational', 'Leadership', 'Education']
['Inspirational', 'Life', 'Success']
['Peace', 'War', 'Government']
['Life', 'Strength', 'Courage']
['Positive', 'Family', 'Trust']
['Inspirational', 'Life', 'Motivational']
['Inspirational', 'Motivational', 'Teacher']
['Success', 'Spiritual', 'Wisdom']
['Inspiring', 'Encouragement', 'Bad Day']
['Strength', 'Christian', 'Self']
['Life', 'Motivational', 'Success']
['Inspirational', 'Success', 'Basketball']
['Inspirational', 'Motivational', 'Positive']
['Love', 'Valentines Day', 'Fate']
['Gun', 'People', 'Second Amendment']
['Long', 'Chinese', 'World']
['Inspirational', 'Greatness', 'Envy']
['Love', 'Inspiring', 'Positivity']
['Practice', 'Political', 'Deception']
['Military', 'Marine', 'Hands']
['Inspirational', 'Life', 'Motivational']
['Love', 'Life', 'Crush']
['Inspirational', 'Motivational', 'Peace']
['Inspirational', 'Freedom', 'Responsibility']
['Inspirational', 'Life', 'Motivational']
['Inspirational', 'Positive', 'Success']
['Inspirational', 'God', 'Stay Strong']
['Motivational', 'Running', 'Ideas']
['Inspirational', 'Life', 'Happiness']
['Sports', 'Hero', 'News']
['Inspirational', 'Funny', 'Positive']
['Anger', 'Adversity', 'Climbing']
['Inspirational', 'Inspiring', 'Friends']
['Motivational', 'Inspiration', 'Adversity']
['Children', 'Creativity', 'Ignorance']
['Life', 'Music', 'Beautiful']
['Inspirational', 'Positive', 'Freedom']
['Inspirational', 'Life', 'Bullying']
['Inspirational', 'Motivational', 'Success']
['Inspirational', 'Inspiring', 'Beauty']
['Witty', 'Attitude', 'Freedom']
['Military', 'Marine', 'Men']
['Motivational', 'Success', 'Positivity']
['Plato', 'War', 'Government']
['Inspirational', 'Educational', 'Learning']
['Inspirational', 'Motivational', 'Success']
['Inspirational', 'Life', 'Second Chance']
['Motivational', 'Sports', 'Football']
['Thanksgiving', 'Thankful', 'Gratitude']
['Love', 'Happiness', 'Smile']
['Inspirational', 'Motivational', 'Badass']
['Life', 'Inspiring', 'Encouragement']
['Funny', 'Humorous', 'Character']
['Moving On', 'Famous Inspirational', 'Greatness']
['Motivational', 'Happiness', 'Mean']
['Life', 'Birthday', 'Inspiring']
['Children', 'Educational', 'Future']
['Inspirational', 'Funny', 'Life']
['Change', 'Inspiring', 'Life Changing']
['Inspirational', 'Integrity', 'Yoga']
['Inspirational', 'Positive', 'Wisdom']
['Funny', 'Hilarious', 'Education']
['Sheep', 'Government', 'Political']
['Leadership', 'Appreciation', 'Team Building']
['Inspirational', 'Change', 'Success']
['Empowerment', 'Crowds', 'Empowering Women']
['Education', 'Learning', 'Knowledge']
['Fear', 'Positivity', 'Doubting Everything']
['Inspirational', 'Motivational', 'Sports']
['Happiness', 'Inspiring', 'Happy']
['Funny', 'Attitude', 'Climbing']
['Confidence', 'Littles', 'Matter']
['Motivational', 'Buddhist', 'Children']
['Mean', 'Opportunity', 'Nerd']
['Love', 'Funny', 'Romantic']
['Inspirational', 'Positive', 'Stars']
['Running', 'Years', 'Tests']
['Peace', 'Integrity', 'Patriotic']
['Inspirational', 'Motivational', 'Relationship']
['Love', 'Life', 'Being Yourself']
['Happiness', 'Work', 'Opportunity']
['Inspiring', 'Forgiveness', 'New Beginnings']
['Motivational', 'Success', 'Work']
['Positive', 'Wisdom', 'Philosophical']
['Inspirational', 'Life', 'Motivational']
['Life', 'Leadership', 'Motivational Sports']
['Love', 'Confidence', 'Forgiving']
['Spiritual', 'Sufi', 'Wherever You Are']
['Inspirational', 'Motivational', 'Change']
['Inspirational', 'Life', 'Music']
['Artist', 'Age', 'Example']
['Inspirational', 'Motivational', 'Wise']
['Inspirational', 'Funny', 'Stupid']
['Love', 'Inspirational', 'Life']
['Education', 'Curiosity', 'Genius']
['Motivational', 'Inspiring', 'Leadership']
['Love', 'Inspirational', 'Motivational']
['Gun', 'Two', 'Qualms About']
['Inspirational', 'Greatness', 'Best Effort']
['Spiritual', 'Truth', 'Yoga']
['Inspirational', 'Leadership', 'Education']
['Inspirational', 'Life', 'Success']
['Peace', 'War', 'Government']
['Life', 'Strength', 'Courage']
['Positive', 'Family', 'Trust']
['Inspirational', 'Life', 'Motivational']
['Inspirational', 'Motivational', 'Teacher']
['Success', 'Spiritual', 'Wisdom']
['Inspiring', 'Encouragement', 'Bad Day']
['Strength', 'Christian', 'Self']
['Life', 'Motivational', 'Success']
['Inspirational', 'Success', 'Basketball']
['Inspirational', 'Motivational', 'Positive']
['Love', 'Valentines Day', 'Fate']
['Gun', 'People', 'Second Amendment']
['Long', 'Chinese', 'World']
['Inspirational', 'Greatness', 'Envy']
['Love', 'Inspiring', 'Positivity']
['Practice', 'Political', 'Deception']
['Military', 'Marine', 'Hands']
['Inspirational', 'Life', 'Motivational']
['Love', 'Life', 'Crush']

In [92]:
df = pd.DataFrame({'QUOTE':quote,'AUTHOR':author,'TYPE_OF_QUOTES':grouped_data})
df

,QUOTE,AUTHOR,TYPE_OF_QUOTES
0,The essence of strategy is choosing what not t...,Michael Porter,"[Essence, Deep Thought, Transcendentalism]"
1,One cannot and must not try to erase the past ...,Golda Meir,"[Inspiration, Past, Trying]"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"[Country, Peace, War]"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"[Inspirational, Motivational, Death]"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"[4th Of July, Food, Patriotic]"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"[Love, Inspirational, Motivational]"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"[Gun, Two, Qualms About]"
997,For every disciplined effort there is a multip...,Jim Rohn,"[Inspirational, Greatness, Best Effort]"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"[Spiritual, Truth, Yoga]"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"[Inspirational, Leadership, Education]"

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, 
Term of office, Remarks) from https://www.jagranjosh.com/ . 
This task will be done in following steps: 
1. First get the webpagehttps://www.jagranjosh.com/ 
2. Then You have to click on the GK option 
3. Then click on the List of all Prime Ministers of India 
4. Then scrap the mentioned data and make theDataFrame.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get("https://www.jagranjosh.com/")#First get the webpagehttps://www.jagranjosh.com/

In [4]:
gk = driver.find_element(By.XPATH,'/html/body/div/header/nav/div/div/div[3]/ul/li[3]/a')# Then You have to click on the GK option 
gk.click()

In [14]:
india_gk = driver.find_element(By.XPATH,'/html/body/div[1]/div[8]/section[9]/ul/li[6]/a')

In [15]:
india_gk.click()

In [16]:
list_of_all_pm = driver.find_element(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/section[2]/div/ul/li[9]/article/h3/a')# Then click on the List of all Prime Ministers of India

In [17]:
list_of_all_pm.click()

In [23]:

table_head = []
t_h = driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/th')
for i in t_h:
    table_head.append(i.text)
table_head

['S.N.', 'PM Name', 'Born-Dead', 'Term of office', 'Remark']

In [25]:
hh = []
hy = driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/td')
for i in hy[0:95]:
    hh.append(i.text)
hh

['1.',
 'Jawahar Lal Nehru',
 '(1889–1964)',
 '15 August 1947 to 27 May 1964\n16 years, 286 days',
 'The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 '2.',
 'Gulzarilal Nanda (Acting)',
 '(1898-1998)',
 '27 May 1964 to 9 June 1964,\n13 days',
 'First acting PM of India',
 '3.',
 'Lal Bahadur Shastri',
 '(1904–1966)',
 '9 June 1964 to 11 January 1966\n1 year, 216 days',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '4. ',
 'Gulzari Lal Nanda  (Acting)',
 '(1898-1998)',
 '11 January 1966 to 24 January 1966\n13 days',
 '-',
 '5.',
 'Indira Gandhi',
 '(1917–1984)',
 '24 January 1966 to 24 March 1977\n11 years, 59 days',
 'First female Prime Minister of India',
 '6.',
 'Morarji Desai',
 '(1896–1995)',
 '24 March 1977 to  28 July 1979 \n2 year, 126 days',
 'Oldest to become PM (81 years old) and first to resign from office',
 '7.',
 'Charan Singh',
 '(1902–1987)',
 '28 July 1979 to 14 January 1980\n170 days',
 'Only PM who did not face the Parliament',
 '8.',
 'Indira Gandhi',
 '(1917–1984)',
 '14 January 1980 to 31 October 1984\n4 years, 291 days',
 'The first lady who served as PM for the second term',
 '9.',
 'Rajiv Gandhi',
 '(1944–1991)',
 '31 October 1984 to 2 December 1989\n5 years, 32 days',
 'Youngest to become PM (40 years old)',
 '10.',
 'V. P. Singh',
 '(1931–2008)',
 '2 December 1989 to 10 November 1990\n343 days',
 'First PM to step down after a vote of no confidence',
 '11.',
 'Chandra Shekhar',
 '(1927–2007)',
 '10 November 1990 to 21 June 1991\n223 days',
 'He belongs to  Samajwadi Janata Party',
 '12.',
 'P. V. Narasimha Rao',
 '(1921–2004)',
 '21 June 1991 to 16 May 1996\n4 years, 330 days',
 'First PM from South India',
 '13.',
 'Atal Bihari Vajpayee',
 '(1924- 2018)',
 '16 May 1996 to 1 June 1996\n16 days',
 'PM for shortest tenure',
 '14.',
 'H. D. Deve Gowda',
 '(born 1933)',
 '1 June 1996 to 21 April 1997\n324 days',
 'He belongs to  Janata Dal',
 '15.',
 'Inder Kumar Gujral',
 '(1919–2012)',
 '21 April 1997 to 19 March 1998 \n332 days',
 '------',
 '16.',
 'Atal Bihari Vajpayee',
 '(1924-2018)',
 '19 March 1998 to 22 May 2004 \n6 years, 64 days',
 ' The first non-congress PM who completed a full term as PM',
 '17.',
 'Manmohan Singh',
 '(born 1932)',
 '22 May 2004 to 26 May 2014   \n10 years, 4 days',
 ' First Sikh PM',
 '18.',
 'Narendra Modi',
 '(born 1950)',
 '26 May 2014 - 2019',
 '4th Prime Minister of India who served two consecutive tenures',
 '19.',
 'Narendra Modi',
 '(born 1950)',
 '30 May 2019- Incumbent',
 'First non-congress PM with two consecutive tenures']

In [27]:

grouped_daa = [hh[i:i+5] for i in range(0, len(hh), 5)]
for group in grouped_daa:
    print(group)

['1.', 'Jawahar Lal Nehru', '(1889–1964)', '15 August 1947 to 27 May 1964\n16 years, 286 days', 'The first prime minister of India and the longest-serving PM of India, the first to die in office.']
['2.', 'Gulzarilal Nanda (Acting)', '(1898-1998)', '27 May 1964 to 9 June 1964,\n13 days', 'First acting PM of India']
['3.', 'Lal Bahadur Shastri', '(1904–1966)', '9 June 1964 to 11 January 1966\n1 year, 216 days', "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965"]
['4. ', 'Gulzari Lal Nanda  (Acting)', '(1898-1998)', '11 January 1966 to 24 January 1966\n13 days', '-']
['5.', 'Indira Gandhi', '(1917–1984)', '24 January 1966 to 24 March 1977\n11 years, 59 days', 'First female Prime Minister of India']
['6.', 'Morarji Desai', '(1896–1995)', '24 March 1977 to  28 July 1979 \n2 year, 126 days', 'Oldest to become PM (81 years old) and first to resign from office']
['7.', 'Charan Singh', '(1902–1987)', '28 July 1979 to 14 January 1980\n170 days', 'Only PM who did not face the Parliament']
['8.', 'Indira Gandhi', '(1917–1984)', '14 January 1980 to 31 October 1984\n4 years, 291 days', 'The first lady who served as PM for the second term']
['9.', 'Rajiv Gandhi', '(1944–1991)', '31 October 1984 to 2 December 1989\n5 years, 32 days', 'Youngest to become PM (40 years old)']
['10.', 'V. P. Singh', '(1931–2008)', '2 December 1989 to 10 November 1990\n343 days', 'First PM to step down after a vote of no confidence']
['11.', 'Chandra Shekhar', '(1927–2007)', '10 November 1990 to 21 June 1991\n223 days', 'He belongs to  Samajwadi Janata Party']
['12.', 'P. V. Narasimha Rao', '(1921–2004)', '21 June 1991 to 16 May 1996\n4 years, 330 days', 'First PM from South India']
['13.', 'Atal Bihari Vajpayee', '(1924- 2018)', '16 May 1996 to 1 June 1996\n16 days', 'PM for shortest tenure']
['14.', 'H. D. Deve Gowda', '(born 1933)', '1 June 1996 to 21 April 1997\n324 days', 'He belongs to  Janata Dal']
['15.', 'Inder Kumar Gujral', '(1919–2012)', '21 April 1997 to 19 March 1998 \n332 days', '------']
['16.', 'Atal Bihari Vajpayee', '(1924-2018)', '19 March 1998 to 22 May 2004 \n6 years, 64 days', ' The first non-congress PM who completed a full term as PM']
['17.', 'Manmohan Singh', '(born 1932)', '22 May 2004 to 26 May 2014   \n10 years, 4 days', ' First Sikh PM']
['18.', 'Narendra Modi', '(born 1950)', '26 May 2014 - 2019', '4th Prime Minister of India who served two consecutive tenures']
['19.', 'Narendra Modi', '(born 1950)', '30 May 2019- Incumbent', 'First non-congress PM with two consecutive tenures']

In [28]:
df = pd.DataFrame(grouped_daa, columns=table_head)#Then scrap the mentioned data and make theDataFrame. 
df

,S.N.,PM Name,Born-Dead,Term of office,Remark
0,1.,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,2.,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,3.,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,4.,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,5.,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,6.,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,7.,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,8.,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,9.,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,10.,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,11.,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,12.,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from South India
12,13.,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,14.,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,15.,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,16.,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,17.,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,18.,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,19.,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. 
Car name and Price) from https://www.motor1.com/ 
This task will be done in following steps: 
1. First get the webpage https://www.motor1.com/ 
2. Then You have to type in the search bar ’50 most expensive cars’ 
3. Then click on 50 most expensive cars in the world.. 
4. Then scrap the mentioned data and make the dataframe.

In [29]:
import selenium
import pandas as pd
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.by import By

In [30]:
driver = webdriver.Chrome()

In [31]:
driver.get("https://www.motor1.com/")#First get the webpage https://www.motor1.com/

In [32]:
input_ = driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')

In [33]:
input_.send_keys('50 most expensive cars')# Then You have to type in the search bar ’50 most expensive cars

In [34]:
btn = driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')

In [35]:
btn.click()

In [36]:
expensive_car = driver.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')

In [37]:
expensive_car.click()# Then click on 50 most expensive cars in the world..

In [ ]:
#Then scrap the mentioned data

In [38]:
cars = []#Car name from the website
c = driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in c[0:50]:
    cars.append(i.text)
cars

['Aston Martin Valour',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'Ferrari Daytona SP3',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Zenvo Aurora',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Pininfarina B95 Speedster',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 '777 Hypercar',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*',
 'Rolls-Royce La Rose Noire Droptail']

In [43]:
price = []#Price from the website
strong = driver.find_elements(By.TAG_NAME,"strong")
for i in strong:
    price.append(i.text.replace('Price:',''))
price

[' $1.5 Million',
 ' $1.7 Million',
 ' $1.7 Million',
 ' $1.7 Million',
 ' $1.7 Million',
 ' $1.7 Million',
 ' $1.7 Million',
 ' $1.8 Million',
 ' $1.9 Million',
 ' $1.9 Million',
 ' $2.0 Million',
 ' $2.0 Million',
 ' $2.0 Million',
 ' $2.1 Million',
 ' $2.3 Million',
 ' $2.3 Million',
 ' $2.3 Million',
 ' $2.3 Million',
 ' $2.4 Million',
 ' $2.5 Million',
 ' $2.5 Million',
 ' $2.6 Million',
 ' $2.6 Million',
 ' $2.7 Million',
 ' $2.8 Million',
 ' $3.0 Million',
 '$3.0 Million',
 ' $3.0 Million',
 ' $3.2 Million',
 ' $3.4 Million',
 '$3.5 Million',
 ' $3.6 million',
 ' $3.7 Million',
 ' $3.9 Million',
 ' $4.5 Million',
 ' $4.7 Million',
 ' $4.8 Million',
 ' $5.0 Million',
 ' $5.4 Million',
 ' $5.8 Million',
 ' $6.4 Million',
 ' $7.4 Million',
 ' $7.5 Million',
 ' $8.0 Million',
 ' $9.0 Million',
 ' $10.8 Million',
 ' $12.8 Million',
 ' $13.4 Million',
 ' $28.0 Million (est.)',
 ' $30 Million (est.)']

In [46]:
df = pd.DataFrame({'CAR_NAME':cars,'PRICE':price})# make the dataframe i.e. Carname and Price
df

                              CAR_NAME                  PRICE
0                  Aston Martin Valour           $1.5 Million
1                         McLaren Elva           $1.7 Million
2                          Czinger 21C           $1.7 Million
3                        Ferrari Monza           $1.7 Million
4                   Gordon Murray T.33           $1.7 Million
5                    Koenigsegg Gemera           $1.7 Million
6                          Zenvo TSR-S           $1.7 Million
7                   Hennessey Venom F5           $1.8 Million
8                      Bentley Bacalar           $1.9 Million
9        Hispano Suiza Carmen Boulogne           $1.9 Million
10              Bentley Mulliner Batur           $2.0 Million
11                        Deus Vayanne           $2.0 Million
12                         SSC Tuatara           $2.0 Million
13                         Lotus Evija           $2.1 Million
14                 Aston Martin Vulcan           $2.3 Million
15                          Delage D12           $2.3 Million
16                 Ferrari Daytona SP3           $2.3 Million
17                   McLaren Speedtail           $2.3 Million
18                        Rimac Nevera           $2.4 Million
19                       Pagani Utopia           $2.5 Million
20                Pininfarina Battista           $2.5 Million
21                  Gordon Murray T.50           $2.6 Million
22                Lamborghini Countach           $2.6 Million
23            Mercedes-AMG Project One           $2.7 Million
24                        Zenvo Aurora           $2.8 Million
25                 Aston Martin Victor           $3.0 Million
26         Hennessey Venom F5 Roadster           $3.0 Million
27                    Koenigsegg Jesko           $3.0 Million
28               Aston Martin Valkyrie           $3.2 Million
29           W Motors Lykan Hypersport           $3.4 Million
30                       McLaren Solus           $3.5 Million
31                    Lamborghini Sian           $3.6 million
32                    Koenigsegg CC850           $3.7 Million
33     Bugatti Chiron Super Sport 300+           $3.9 Million
34                  Lamborghini Veneno           $4.5 Million
35                      Bugatti Bolide           $4.7 Million
36           Pininfarina B95 Speedster           $4.8 Million
37                     Bugatti Mistral           $5.0 Million
38                 Pagani Huayra Imola           $5.4 Million
39                        Bugatti Divo           $5.8 Million
40                 SP Automotive Chaos           $6.4 Million
41                    Pagani Codalunga           $7.4 Million
42                        777 Hypercar           $7.5 Million
43            Mercedes-Maybach Exelero           $8.0 Million
44                  Bugatti Centodieci           $9.0 Million
45             Bugatti Chiron Profilée          $10.8 Million
46                Rolls-Royce Sweptail          $12.8 Million
47            Bugatti La Voiture Noire          $13.4 Million
48              Rolls-Royce Boat Tail*   $28.0 Million (est.)
49  Rolls-Royce La Rose Noire Droptail     $30 Million (est.)